.bodyIndex{
    font-family: 'Baskervville', serif;
    background: linear-gradient(to right, white, rgb(136, 213, 211));
}

/* Dark Mode */
.bodyIndexModoOscuro{
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(4, 2, 37));
}