.botonesIndex {
    width: 100vw;

    position: fixed;
    bottom: 5%;

    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;

    padding: 0% 3%;
    gap: 5%;


    /* MODO OSCURO */
    .botonesIndexModoOscuro {
        background: linear-gradient(to right, rgb(8, 8, 8), rgb(17, 17, 17));
        color: white;
        border: 1px solid black;
        font-size: 1.1rem;
        border-radius: 12px;

        padding: 3px 15px;
        transition: 0.3s;

        &:active {
            transform: scale(0.8);
        }

        .botonesIndexLogo {
            @include botonesIndexLogo;
            color: white;
            border: 1px solid white;
        }
    }

    /* Dark Mode */
    .botonesIndexModoOscuroActivado {
        background: none;
        color: rgb(57, 43, 253);
        border: 1px solid rgb(57, 43, 253);

        .botonesIndexLogo {
            color: rgb(57, 43, 253);
            border: 1px solid rgb(57, 43, 253);
            border-radius: 20px;

            margin: 0px 6px;
            padding: 5px;
        }
    }


    /* ----------------------------- */

    /* AÑADIR AL CARRITO */
    .botonesIndexCarrito {
        background: linear-gradient(to right, rgb(47, 245, 255), rgb(0, 140, 233));
        color: black;
        border: 1px solid black;
        font-size: 1.1rem;
        border-radius: 12px;

        padding: 3px 15px;
        transition: 0.3s;

        &:active {
            transform: scale(0.8);
        }

        .botonesIndexLogo {
            @include botonesIndexLogo;
            color: black;
            border: 1px solid black;
        }
    }

    /* Dark Mode */
    .botonesIndexCarritoModoOscuroActivado {
        background: rgba(0, 0, 0, 0);
        color: rgb(43, 235, 253);
        border: 1px solid rgb(43, 235, 253);

        .botonesIndexLogo {
            color: rgb(43, 235, 253);
            border: 1px solid rgb(43, 235, 253);
            border-radius: 20px;

            margin: 0px 6px;
            padding: 5px;
        }  
    }

    .botonesIndexCarritoLleno {
        background: linear-gradient(to right, rgb(8, 8, 8), rgb(17, 17, 17));
        border: 1px solid rgb(251, 0, 255);
        color: rgb(251, 0, 255);

        display: flex;
        flex-wrap: nowrap;
        gap: 20px;

        .botonesIndexLogo {
            width: 27px;
            color: rgb(251, 0, 255);
            border: 1px solid rgb(251, 0, 255);

            border-radius: 20px;
            margin: 0px;
            padding: 0px;
        }
    }

    /* ----------------------------- */

    /* CAMBIAR PRECIO */
    .botonesIndexCambiarPrecio {
        background: linear-gradient(to right, rgb(47, 255, 137), rgb(0, 233, 0));
        color: black;
        border: 1px solid black;
        font-size: 1.1rem;
        border-radius: 12px;

        padding: 3px 15px;
        transition: 0.3s;

        &:active {
            transform: scale(0.8);
        }

        .botonesIndexLogo {
            @include botonesIndexLogo;
            color: black;
            border: 1px solid black;
        }

    }

    /* Dark Mode */
    .botonesIndexCambiarPrecioModoOscuroActivado {
        background: rgba(0, 0, 0, 0);
        color: rgb(0, 255, 98);
        border: 1px solid rgb(0, 255, 98);

        .botonesIndexLogo {
            color: rgb(0, 255, 98);
            border: 1px solid rgb(0, 255, 98);
            border-radius: 20px;

            margin: 0px 6px;
            padding: 5px;
        }
    }

    /* ----------------------------- */
    /* VOLVER AL MENÚ */
    .botonesCarritoVolver {
        background: linear-gradient(to right, rgb(255, 0, 0), rgb(250, 99, 68));
        color: white;
        border: 1px solid black;
        font-size: 1.1rem;
        border-radius: 12px;

        padding: 3px 15px;
        transition: 0.3s;

        &:active {
            transform: scale(0.8);
        }

        .botonesIndexLogo {
            @include botonesIndexLogo;
            color: white;
            border: 1px solid white;
        }

    }

    /* Dark Mode */
    .botonesCarritoVolverModoOscuroActivado {
        background: rgba(0, 0, 0, 0);
        color: red;
        border: 1px solid red;

        .botonesIndexLogo {
            color: red;
            border: 1px solid red;
            border-radius: 20px;

            margin: 0px 6px;
            padding: 5px;
        }
    }

    /* ----------------------------- */
    /* VACIAR CARRITO */
    .botonesCarritoBorrarAll {
        background: none;
        color: red;
        border: 1px solid red;
        font-size: 1.1rem;
        border-radius: 12px;

        padding: 3px 15px;
        transition: 0.3s;

        &:active {
            transform: scale(0.8);
        }

        .botonesIndexLogo {
            @include botonesIndexLogo;
            color: red;
            border: 1px solid red;
        }

    }

    /* ----------------------------- */
    /* PAGAR TODO */
    .botonesCarritoPagar {
        background: none;
        color: rgb(40, 219, 0);
        border: 1px solid rgb(40, 219, 0);
        font-size: 1.1rem;
        border-radius: 12px;

        padding: 3px 15px;
        transition: 0.3s;

        &:active {
            transform: scale(0.8);
        }

        .botonesIndexLogo {
            @include botonesIndexLogo;
            color: rgb(40, 219, 0);
            border: 1px solid rgb(40, 219, 0);
        }

    }
}